* {
  box-sizing: border-box;
}
.about-content img {
  float: left;
  max-width: 27rem;
  margin: 1.5rem;
  box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

@media screen and (max-width:40rem) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.anchor a {
  position: absolute;
  left: 0rem;
  top: -6rem;
}

.anchor {
  position: relative;
}

.bg-img {
  /* The image used */
  background-image: url(https://raw.githubusercontent.com/DorothyDay/dorothyday.github.io/master/assets/Hex-Header.png);
  /* Center and scale the image nicely */
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
}

.blocjams {
  display: grid;
  grid-column: 1;
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}

.blocjams img {
  width: 100%;
}


body {
  font-family: 'Josefin Sans';
  font-size: 2rem;
  font-weight: 300;
}

.brand {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 4.8rem;
  letter-spacing: 0.03em;
  color: #15B9CF;
  margin: 1.5rem;
  text-align: center;
}


.brands, .brandimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brandimg img {
  align-self: center;
  margin: .8rem;
}

@media screen and (min-width: 40rem) {
  .brands, .brandimg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.busybus {
  text-align: center;
  display: block;
}
.busybus img {
  width: 40%;
}

.button-hero-cta {
  background: #FFEEE2;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: .3rem;
  width: 21.7rem;
  height: 5.397rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 1.8rem;
  margin: 1rem;
}

.case-hero .case-buttons .button-hero-cta, .wireframes .case-buttons .button-hero-cta {
  padding: .9rem
}

.ca-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  object-fit: contain;
}

.ca-images img {
  max-width: 25%;
  margin: 1rem;
}

.case-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40rem) {
  .case-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.case-hero {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.case-hero img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

.case-hero-text {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

.case-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: .2rem solid #ffeee2;
  z-index: 1;
  text-align: center;
  color: white;
  padding: .5rem;
  margin: 0 auto;
}

@media only screen and (min-width:40rem) {
  .case-nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
  }
}

@media only screen and (max-width:40rem) {
  .case-nav {
      display: none;
  }
}

.case-nav a {
  font-family: 'Josefin Sans';
  text-decoration: none;
  color: black;
  margin: 3px;
  font-size: 1.6rem
}
.case-nav a:hover {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-column: 1;
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}

.container1 {
  display: grid;
  width: 80%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}

.container2 {
  width: 85%;
  max-width: 70rem;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

@media only screen and (max-width: 40rem) {
  .container1 {
    max-width: 400px;
    margin: 0 auto;
  }
}

.flows p {
  margin-left: 1.5rem;
}

.flows img {
  align-self: center;
  max-width: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20rem;
  background: #FFEEE2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.social a {
  padding: 1rem;
}

.copyright {
  text-align: center;
}

h1 {
  font-family: 'Sacramento';
  font-size: 6.5rem;
  text-align: center;
  text-transform: capitalize;
  margin: 3rem 0 3rem 0;
  color: #15B9CF;
}

h2 {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  padding: 3rem 0 1rem 0;
}

h3 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-bottom: .3rem solid #FEA0C7;
}

.persona h3 {
  border-bottom: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

.hero p {
  padding: 2rem 0 1rem 0;
}

.hexagon {
  position: relative;
  width: 25rem;
  height: 14.434rem;
  background-color: #ffeee2;
  margin: 8.66rem 0;
}

.hexagon p {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  letter-spacing: 0.03em;
  color: #15B9CF;
  line-height: 1rem;
  text-align: center;
  text-indent: 0px;
  margin: 1.5rem;
}

.persona .hexagon p {
  line-height: 3rem;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 12.5rem solid transparent;
  border-right: 12.5rem solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 7.217rem solid #ffeee2;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 7.217rem solid #ffeee2;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.logos img {
  margin: 1rem;
  align-self: center;
}

.logo img {
  display: block;
margin-left: auto;
margin-right: auto;
}

.main-nav li {
    text-align: center;
    margin: .5rem auto;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}

.main-nav a {
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.main-nav a:hover {
  text-decoration: underline;
  color: black;
}

/* Add a color to the active/current link */
/*.main-nav a.active {
  background-color: #4CAF50;
  color: white;
}*/

.navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    color: black;
    font-size: 2.4rem;
}

.nav-logo {
    display: inline-block;
    padding: 1rem;
    margin: .5rem;
}

@media screen and (min-width: 768px) {
    .topnav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 3rem;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 4rem;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
  }

ol {
  margin: 2rem;
  list-style-type: circle;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width:40rem) {
  .overview {
    display: flex;
    flex-direction: row;
  }
}

/*.overview div {
  width: 30%;
}*/
.overview div {
  width: 16.3rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.overview h3 {
  font-size: 2rem;
  border-bottom: .3rem solid #FEA0C7;
}

li {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

p {
  text-indent: 3rem;
  margin-bottom: 3rem;
  line-height: 150%;
}

.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 40rem;
}

.persona img {
  height: 20rem;
  width: 20rem;
  margin: 1rem;
}

.persona-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110%;
}

.persona-middle {
  width: 100%;
  height: 75rem;
}

.persona-middle h3 {
  padding: 3rem 0 2rem 0;
}

.personas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (min-width: 40rem) {
  .personas {
    display: flex;
    flex-direction: row;
  }
}

.personas p {
  margin-bottom: 0;
  text-indent: 1rem;
}

.personas div {
  padding-bottom: 2rem;
}

.prob-sol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 40rem) {
  .prob-sol {
    display: flex;
    flex-direction: row;
  }
}

.problem, .solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 80%;
  height: 38rem;
  background: #FFEEE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

#scroll {
    position:fixed;
    right:3rem;
    bottom:3rem;
    cursor:pointer;
    width:5rem;
    height:5rem;
    background-color:#15B9CF;
    text-indent:-9999px;
    z-index: 1;
    display:none;
    -webkit-border-radius:6rem;
    -moz-border-radius:6rem;
    border-radius: 6rem;
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#ffeee2;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/*https://css-tricks.com/sticky-smooth-active-nav/*/

section {
  padding-bottom: 2rem;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.stories, .flows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stories img {
  align-self: center;
}

@media only screen and (min-width:40rem) {
  .stories {
    display: flex;
    flex-direction: row;
  }
}

/* Position the navbar container inside the image */
.topnav {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 2.4rem;
  width: auto;
  margin-bottom: 1rem;
}

.ur-callout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 40rem) {
  .ur-callout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .ur-callout div {
    width: 30%;
  }
}

.ur-callout div {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.ur-callout h1 {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 4.8rem;
  letter-spacing: 0.03em;
  color: #15B9CF;
}

.ur-callout p {
  font-weight: bold;
  text-align: center;
  text-indent: 0;
  margin-bottom: 2rem;
}

.testing img {
  max-width: 90%;
}

.vis1, .testing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

@media only screen and (min-width:40rem) {
  .vis1, .testing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.vis1 img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.vis2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wireframe1 {
  display: flex;
  flex-direction: column;
}

.wireframe1 img {
  max-width: 90%;
  height: auto;
  margin: 1rem;
  align-self: center;
}

.wireframe2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width:40rem) {
  .wireframe2 {
    display: flex;
    flex-direction: row;
  }
}
.wireframe2 img {
  margin: 1rem;
  align-self: center;
}
