* {
  box-sizing: border-box;
}
.anchor a {
  position: absolute;
  left: 0px;
  top: -60px;
}

.anchor {
  position: relative;
}

.about-me {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me p {
  max-width: 665px;
  text-indent: 30px;
  padding: 10px;
}

.about-content img {
  float: left;
  width: 300px;
  margin: 15px 15px 3px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}


.bg-img {
  /* The image used */
  background-image: url(https://raw.githubusercontent.com/DorothyDay/dorothyday.github.io/master/assets/Hex-Header.png);
  /* Center and scale the image nicely */
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
}

body {
  font-family: 'Cormorant';
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.brand {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 48px;
  letter-spacing: 0.03em;
  color: #15B9CF;
  margin: 15px;
  text-align: center;
}


.brands, .brandimg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.brandimg img {
  width:45%;
}

.button-hero-cta {
  background: #FFEEE2;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 217px;
  height: 53.97px;
  font-family: 'Federo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-top: 15px;
}

.ca-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ca-images img {
  margin: 20px;
}

.case-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.case-hero-text {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.case-nav {
  display: flex;
  flex-direction: row;
  border: 2px solid #ffeee2;
  z-index: 1;
  text-align: center;
  color: white;
  font-family: 'Federo';
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  margin: 10px;
}
.case-nav a {
  font-family: 'Federo';
  text-decoration: none;
  color: black;
  margin: 5px;
}
.case-nav a:hover {
  padding: 3px;
  font-family: 'Federo';
  text-decoration: none;
  color: #ffeee2;
}

/* Position the navbar container inside the image */
.container {
  font-family: 'Federo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  width: auto;
  height: 130px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.footer {
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 200px;
  background: #FFEEE2;
  color: black;
  text-align: center;
  font-family: 'Federo';
  text-transform: uppercase;
}

.footer li {
  float: left;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer ul {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}

h1 {
  font-family: 'Federo';
  font-style: normal;
  font-weight: normal;
  font-size: 49px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Federo';
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Federo';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 3px solid #FEA0C7;
}

.hero {
  display:flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.hero-text h1 {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 48px;
  line-height: 70px;
  letter-spacing: 0.03em;
  color: #15B9CF;
}

.hexagon {
  position: relative;
  width: 250px;
  height: 144.34px;
  background-color: #ffeee2;
  margin: 86.60px 0;
}

.hexagon p {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.03em;
  color: #15B9CF;
  line-height: 35px;
  text-align: center;
  text-indent: 0px;
  margin: 15px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 72.17px solid #ffeee2;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 72.17px solid #ffeee2;
}

.hexagons {
  display: flex;
  justify-content: space-around;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.logos img {
  margin: 10px;

}

.logo img {
  display: block;
margin-left: auto;
margin-right: auto;
}

.main-studentio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-studentio section {
  max-width: 650px;
  margin-bottom: 30px;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
}

ol {
  margin: 20px;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.overview div {
  width: 30%;
}

.Overview h3 {
    border-bottom: 3px solid #FEA0C7;
}

p {
  text-indent: 30px;
  margin-bottom: 15px;
}

.persona {
  display: flex;
  align-items: center;
  margin: 7px;
}

.personas {
  display: flex;
  justify-content: space-around;
}

.personas p {
  margin-bottom: 0px;
  text-indent: 10px;

}

.prob-sol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.problem, .solution {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  height: 311.86px;
  width: 50%;
  background: #FFEEE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

#scroll {
    position:fixed;
    right:30px;
    bottom:30px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#15B9CF;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#ffeee2;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/*https://css-tricks.com/sticky-smooth-active-nav/*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.stories, .flows {
  display: flex;
  justify-content: space-around;
}

.flows p {
  margin-left: 15px;
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.ur-callout {
  display: flex;
  justify-content: space-around;
}

.ur-callout div {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.ur-callout h1 {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 48px;
  letter-spacing: 0.03em;
  color: #15B9CF;
}

.ur-callout p {
  font-weight: bold;
  text-align: center;
  text-indent: 0px;
  margin-bottom: 20px;
}

.vis1, .testing {
  display: flex;
  justify-content: center;
}

.vis1 img {
  margin: 10px;
}

.wireframe {
  display: flex;
  justify-content: center;
}
.wireframe img {
  margin: 10px;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
 @media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/*responsive*/
